* {
  box-sizing: border-box;
}

div {
  width: 400px;
  padding: 12px;
  margin: 10px;
  background-color: #eee;
}

.f-div span {
  width: 4px;
  display: inline-block;
  padding: 18px 0;
  background-color: #f7506d;
  margin: -5px 10px -10px -5px;

}

.s-div {
  visibility: hidden;
}

.t-div span{
  width: 4px;
  display: inline-block;
  padding: 20px 0; 
  background-color: #009688;
  margin: -5px 10px -10px -5px;
}