* {
  box-sizing: border-box;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 85%;
  gap: 20px 20px;
}

.grid div {
  color:#FFF;
  background-color:#607d8b;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.grid .fRow{
  line-height: 36px;
}
.grid .sRow{
  line-height: 306px;
}

.grid div:after{
  content: attr(myAttr);
}