* {
  box-sizing: border-box;
}

p {
  position: relative;
  width: 600px;
  padding: 20px;
  margin-left: 100px;
  background-color:#f5f5f5;
  border-left-style: solid;
  border-left-color:#e91e63;
  border-left-width: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.my-p::after {
  content:"";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #e91e63 transparent transparent;
  top: 20px;
  left: -25px;
}

.my-p::before {
  content: attr(data-person);
  background-color:#eee;
  padding: 10px 12px;
  position: absolute;
  top: 10px;
  left: -100px;
}