* {
	box-sizing: border-box;
	margin: 10px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 1px solid black;
	padding: 40px;
}

.parent div {
  width: 100%;
	background-color: #eee;
  text-align: center;
	text-transform: capitalize;
  font-size: 20px;
	padding: 10px;
  margin-bottom: 5px;
}

.parent div .one {
	font-weight: bold;
	margin-bottom: 5px;
}

.parent > div .two {
		font-size: 16px;
}

@media (max-width: 767px) and (min-width: 768px) {
  .parent > div {
    width: calc(100% - 10px);
		margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
	.parent > .one {
		width: calc(100% - 30px);
		margin-bottom: 20px;
	}
  .parent > .two,
	.parent > .three,
	.parent > .four {
		width: calc((100% / 3) - 30px);
	}
	.parent > div .one {
		color: red;
	}
}

@media (min-width: 1200px) {
	.parent > .one,
	.parent > .four {
		width: calc(100% - 30px);
	}
	.parent > .two,
	.parent > .three {
		width: calc(50% - 30px);
	}
	.parent > div .one {
		color: #009688;
	}
}